<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="https://files.softicons.com/download/business-icons/pretty-office-11-icons-by-custom-icon-design/png/256x256/cash.png">
    <!--<link rel="stylesheet" href="../stylesheets/style.css">-->
    <!-- <link rel="stylesheet" href="../stylesheets/paypal.css">-->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <title>Error</title>
</head>
<body>
<h1>Vyskytla se neočekávaná chyba</h1>
</body>
</html>
